body{

    background-image: url("./download.svg");
    background-repeat: no-repeat;
    

}

#top{

     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 100px;
}

pre{

    display: flex;
    flex-direction: column;
    align-items: center;
}

#email{

     display: flex;
     padding-left: 500px;
     align-items: center;
     padding-right: 160px;
     
}

input{

     padding-top: 10px;
     padding-bottom: 10px;
     padding-inline: 10px;
}

#box{

    display: flex;
    padding-left: 10px;
    border-radius: 1px;
    
}

button{

       padding: 10px;
       background-color: rgb(43, 27, 27);
       color: white;

}

#para{

     color: white;
     display: flex;
     flex-direction: row;
     justify-content: center;
}

#mid{

    padding-left: 300px;
}

#lower{
    
      display: flex;
      margin-top: 100px;
      padding-left: 100px;
      margin: 50px;

}

#one{

   margin-left:90px;
}

#two{
        padding-left: 100px;
}

#three{

    padding-left: 100px;
   
}

#img1{

     padding-top: 100px;
     display: flex;
     padding-left: 160px;
     border: 0.5px solid #d2d5d9;
     border-inline: 20px;
     padding-top: 50px;
     padding-bottom: 30px;
}

#img-1{

      padding-left: 190px;
     
}

#img-2{

    padding-left: 20px;  
}

#img-3{

    padding-left: 20px;  
}

#img-4{

    padding-left: 20px;  
}

#img-5{

    padding-left: 20px;  
}

#bottom-1{

        display: flex;
        flex-direction: column;
        align-items: center;
}

a{
     text-decoration: none;  
}

#foot{
    display: flex;
    padding-left: 1000px;
    justify-content: space-between;
    padding-top: 100px;
}